.container_degrees__img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 0px auto;
    padding: 3px;
}

.container_degrees__img>p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 60px;

    color: rgb(52, 147, 255);
    text-shadow: 0 0 15px rgb(153, 201, 255);

}

.container_degrees__img:hover {
    box-shadow: 0 0 15px var(--hoverColor);
    border-radius: 35px;
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.container_degrees__img p:hover {
    font-size: 3.8rem;
    color: var(--hoverColor);
}