.btn_container {
    display: grid;
    place-items: center;
}

.btn {
    background-color: rgba(69, 153, 250, 0.967);
    /* background-color: transparent; */
    border: none;
    border-radius: 50%;
    /* box-shadow: 0 0 15px #37ff00; */
    box-shadow: var(--colorBg);

    padding: 15px;

    font-size: 10px;
    color: #fff;
    /* text-shadow: 1px 1px #37ff00; */
    text-shadow: var(--colorBg);
}

.dark {
    background-color: var(--colorBg);
}